.container{
    max-width: 720px;
}
.info{
    font-size: 0.7em;
}
hr {
    border: 3px dashed #ada;
}
.post{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #BFFFCA;
}
h1{
    color: #407940;
}

#addpostbox {
    width: 100%;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
#addpostid input{
    width: 100%;
}
